<h1>Task Manager</h1>
<p>This is an application for managing your tasks. Find me in app/views/main/index.html.erb</p>


<%= link_to("Tasks" , {controller: 'tasks' , action: 'index'}) %>

<%= link_to("About", {controller: "main", action:"about", page:5, id:20}) %>

